@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	height: 80px;
	background-color: #fff;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.card-title{
	text-align: center !important;
	color: #DC3545;
	font-weight: bold !important;
}

img {
	height: 120px;
	width: 150px;
	object-fit: cover;
}

.search-container {
	width: 500px;
	margin: 0 auto;
}

ul li {
list-style-type: none;
}

.indexCard {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.indexCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}