<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
	<header th:insert="~{fragments :: header}"></header>

	<div class="container">
		<div class="title d-flex justify-content-center">
			<th:block th:if="${action.equals('create')}">
				<h1>Aggiungi nuova Pizza:</h1>
			</th:block>
			<th:block th:if="${action.equals('edit')}">
				<h1>Promo per la pizza [[${pizza.name}]]</h1>
			</th:block>
		</div>

		<form method="POST" th:object="${promo}">
			<div class="mb-3">
				<label for="title" class="form-label">Nome Promozione</label>
				<input type="text" class="form-control" id="title" th:field="*{title}">
				<div th:if="${#fields.hasErrors('title')}" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>

			<div class="mb-3">
				<label for="startPromo" class="form-label">Data d'inizio promozione</label>
				<input type="text" class="form-control" id="startPromo" th:field="*{startPromo}">
				<div th:if="${#fields.hasErrors('startPromo')}" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('startPromo')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>

			<div class="mb-3">
				<label for="endPromo" class="form-label">Data di fine promozione</label>
				<input type="text" class="form-control" id="endPromo" th:field="*{endPromo}">
				<div th:if="${#fields.hasErrors('endPromo')}" class="text-danger">
					<ul>
						<li th:each="err : ${#fields.errors('endPromo')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<button class="btn btn-danger">Aggiungi Promozione</button>
		</form>
	</div>
</body>

</html>